@mixin format-strong() {
    font-family: $canyonBold;
}

@mixin format-h1() {
    font-family: $canyonBold;
    text-transform: uppercase;
    font-size: em(60px);
    line-height: 1.3;
}

@mixin format-h2() {
    font-family: $canyonBold;
    text-transform: uppercase;
    font-size: em(40px);
    line-height: 1;
}

@mixin format-quote() {
    font-family: $canyonBold;
    text-transform: uppercase;
    font-size: em(40px);
    line-height: 1;
    letter-spacing: em(2.22px);
}

@mixin format-paragraph() {
    font-family: $canyonReg;
    font-size: em(20px);
    line-height: 1;
}

@mixin format-cta() {
    font-family: $canyonBold;
    text-transform: uppercase;
    font-size: em(22px);
    line-height: 1;
    letter-spacing: em(1.3px);
}