$block: '.module-cover';

#{$block} {

    @include inner-gutter();
    @include fullscreen;
    &__
    .logo {
        width: 87px;
        height: 12px;
        background-image: url(../img/logo.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;

        @at-root html.no-svg #{&} {
            background-image: url(../img/logo.png);
        }
    }
}